<%
// Defaults
var args = typeof args !== 'undefined' ? args : {};

var id = args.id ?? '';
var cssClass = args.cssClass ?? '';
var tag = args.tag ?? 'a';
var type = args.type ?? 'button';
var label = args.label ?? '';
var link = args.link ?? '#';
var icon = args.icon ?? '';
var iconClass = args.iconClass ?? '';
var dropdown = args.dropdown ?? false;
var target = args.target ?? '';
var modal = args.modal ?? false;
var variation = args.variation ?? 'default';

var btnIcon = ! icon ? '' : `<i class="icon icon-${icon} ${iconClass}"></i>`;
%>

<<%= tag %> <%- ( tag === 'button' ? `type="${type}"` : `href="${link}"` )%> id="<%= id %>" <%- dropdown || modal ? `data-bs-toggle="${ modal ? 'modal' : 'dropdown'}" aria-expanded="false"`: '' %> <%= target ? `data-bs-target=${target}` : '' %> class="_button _button-default variation-<%= variation %> <%= cssClass %>">
    <%- btnIcon %>
    <% if ( label ) { %>
    <span><%- label %></span>
    <% } %>
</<%= tag %>>