<% 
const paramCssClass = typeof cssClass !== 'undefined' ? cssClass : '';
const paramTitle = typeof title !== 'undefined' ? title : '';
const paramDescription = typeof description !== 'undefined' ? description : '';
const paramBgImage = typeof bgImage !== 'undefined' ? bgImage : '';
const paramLink = typeof link !== 'undefined' ? link : '';
%>

<div class="_card-home <%= paramCssClass %>">
    <a class="inner" href="<%= paramLink %>">
        <% if ( paramBgImage ) { %>
        <div class="bg-image">
            <img src="../../assets/img/<%= paramBgImage %>" />
        </div>
        <% } %>

        <div class="inner-content">
            <h2 class="title"><%- paramTitle %></h2>
            <div class="description"><%- paramDescription %></div>
        </div>
    </a>
</div>