<% 
// Params
var args = typeof args !== 'undefined' ? args : '';
var cssClass = args.cssClass ?? '';
%>

<div class="_real-estate-meta-actions <%= cssClass %>">
    <%- 
    include( '../button-default/component.ejs', { args: {
        icon: 'camera',
        label: 'Imagens',
    } } );
    %>
    <%-
    include( '../button-default/component.ejs', { args: {
        icon: 'corporate-fare',
        label: 'Plantas',
    } } );
    %>
    <%-
    include( '../button-default/component.ejs', { args: {
        icon: '360',
        label: 'Tour 360°',
    } } );
    %>
    <%-
    include( '../button-default/component.ejs', { args: {
        icon: 'video-library',
        label: 'Vídeos',
    } } );
    %>
    <%-
    include( '../button-default/component.ejs', { args: {
        icon: 'share',
    } } );
    %>
</div>