<% 
// Data
const realEstates = JSON.parse(include('../../data/real-estates/properties.json') );

// Params
var args = typeof args !== 'undefined' ? args : '';
let cssClass = args.cssClass ?? '';
%>

<div class="_list-map-default <%= cssClass %>">
    <div class="map-inner">
        <div class="top-controls">
            <div class="left">
                <%- 
                include( '../button-icon/component.ejs', { args: {
                    icon: 'chevron-left-2',
                    cssClass: 'back',
                } } );
                %>
            </div>
            <div class="right">
                <%- 
                include( '../button-icon/component.ejs', { args: {
                    icon: 'remove',
                    cssClass: 'zoom-out',
                } } );
                %>
                <%- 
                include( '../button-icon/component.ejs', { args: {
                    icon: 'add',
                    cssClass: 'zoom-in',
                } } );
                %>
            </div>
        </div>
        <div class="map-background">
            <% for(let i = 0; i < 8; i++) { %>
            <% let active = i === 2 ? 'active' : ''; %>
            <%- include( '../list-map-button-pin/component.ejs', { args: { cssClass: `pin-${i + 1} ${active}` } } ); %>
            <% } %>

            <%- include( '../list-map-entry/component.ejs', { realEstate: realEstates[2]} ); %>

            <img src="../../assets/img/map.png" alt="Melnick map" class="map">
        </div>
        <div class="bottom-controls">
            <%- include( '../list-map-button-contact/component.ejs' ); %>
        </div>
    </div>
</div>