<% 
// Params
var args = typeof args !== 'undefined' ? args : '';
var cssClass = args.cssClass ?? '';

const realEstateItem = (icon, label) => {
    return  `
            <div class="feature-item">
                <i class="icon icon-${icon}"></i> <span>${label}</span>
            </div>
            `
}
%>

<div class="_real-estate-props <%= cssClass %>">
    <div class="features align-items-center">
        <%- realEstateItem( 'bed', '3 suítes com sacada') %>
        <%- realEstateItem( 'straighten', '176 e 216 m²') %>
        <%- realEstateItem( 'car', '3 vagas') %>
        <%- realEstateItem( 'holiday_village', 'Bairro Boa Vista') %>
    </div>
</div>