<%- include('../../components/header-alt/component.ejs') %>

<main class="site-wrapper">
    <section class="mb-5">
        <%- include('../../components/hero/component.ejs') %>
    </section>

    <section class="mb-5">
        <h1 class="title-display text-28 text-center mb-3">
            Conheça nossos empreendimentos <strong>Residenciais</strong> <i class="icon icon-arrow_down text-16 align-middle mb-2"></i>
        </h1>

        <%- include('../../components/carousel-real-estate/component.ejs') %>

        <div class="d-flex justify-content-center">
            <%- include('../../components/button-default/component.ejs', { label: 'Ver mais empreendimentos'}) %>
        </div>
    </section>

    <%- include('../../components/home-section-features/component.ejs', { cssClass: 'mb-5'}) %>

    <%- include('../../components/home-section-features-wide/component.ejs', { cssClass: 'mb-5'}) %>

    <%- include('../../components/home-section-initiative/component.ejs', { cssClass: 'mb-5'}) %>
</main>

<%- include( '../../components/whatsapp-balloon/component.ejs' ); %>

<%- include('../../components/footer/component.ejs') %>