<%- include('../../components/header-alt/component.ejs') %>

<main class="site-wrapper">
    <section class="mb-5">
        <%- include('../../components/hero/component.ejs') %>
    </section>

    <%- include('../../components/home-section-real-estate-tabs/component.ejs', {args: { cssClass: 'mb-5'}}) %>

    <%- include('../../components/home-section-features/component.ejs', {args: { cssClass: 'mb-5' }}) %>

    <%- include('../../components/home-section-features-wide/component.ejs', {args: { cssClass: 'mb-5'}}) %>

    <%- include('../../components/home-section-initiative/component.ejs',  {args: { cssClass: 'mb-5'}}) %>

    <%- include('../../components/home-section-blog/component.ejs') %>
</main>

<%- include( '../../components/whatsapp-balloon/component.ejs' ); %>

<%- include('../../components/footer/component.ejs') %>