<% 
// Params
var args = typeof args !== 'undefined' ? args : '';
var cssClass = args.cssClass ?? '';

%>

<div class="_real-estate-action-carousel <%= cssClass %>">
    <div class="swiper leaked">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Book do <br> Empreendimento', image: 'mall.jpeg', cssClass: 'stories-toggler-0' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Andamento<br> da obra', image: 'hero-bg-2.jpeg', cssClass: 'stories-toggler-1' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Apartamentos<br> Decorados', image: 'office.jpeg', cssClass: 'stories-toggler-2' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Conheça o<br> Bairro', image: 'real-estate-3.jpeg', cssClass: 'stories-toggler-3' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Vista do<br> Empreendimento', image: 'seats.jpeg', cssClass: 'stories-toggler-4' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Personal<br> System', image: 'seats-2.jpeg', cssClass: 'stories-toggler-5' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Depoimentos', image: 'real-estate.jpeg', cssClass: 'stories-toggler-6' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Book do <br> Empreendimento', image: 'mall.jpeg', cssClass: 'stories-toggler-7' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Andamento<br> da obra', image: 'hero-bg-2.jpeg', cssClass: 'stories-toggler-8' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Apartamentos<br> Decorados', image: 'office.jpeg', cssClass: 'stories-toggler-9' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Conheça o<br> Bairro', image: 'real-estate-3.jpeg', cssClass: 'stories-toggler-10' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Vista do<br> Empreendimento', image: 'seats.jpeg', cssClass: 'stories-toggler-10' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Personal<br> System', image: 'seats-2.jpeg', cssClass: 'stories-toggler-12' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Depoimentos', image: 'real-estate.jpeg', cssClass: 'stories-toggler-13' } } ); -%>
            </div>
        </div>

        <div class="swiper-nav-container">
            <span class="swiper-next">
                <i class="icon icon-chevron-right"></i>
            </span>
        </div>
    </div>
</div>