<% 
// Params
var args = typeof args !== 'undefined' ? args : '';
var cssClass = args.cssClass ?? '';

%>

<div class="_real-estate-action-carousel <%= cssClass %>">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Book do <br> Empreendimento', image: 'mall.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Andamento<br> da obra', image: 'hero-bg-2.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Apartamentos<br> Decorados', image: 'office.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Conheça o<br> Bairro', image: 'real-estate-3.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Vista do<br> Empreendimento', image: 'seats.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Personal<br> System', image: 'seats-2.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Depoimentos', image: 'real-estate.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Book do <br> Empreendimento', image: 'mall.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Andamento<br> da obra', image: 'hero-bg-2.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Apartamentos<br> Decorados', image: 'office.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Conheça o<br> Bairro', image: 'real-estate-3.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Vista do<br> Empreendimento', image: 'seats.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Personal<br> System', image: 'seats-2.jpeg' } } ); -%>
            </div>
            <div class="swiper-slide">
                <%- include('../real-estate-action/component.ejs', { args: { label: 'Depoimentos', image: 'real-estate.jpeg' } } ); -%>
            </div>
        </div>

        <div class="swiper-nav-container">
            <span class="swiper-next">
                <i class="icon icon-chevron-right"></i>
            </span>
        </div>
    </div>
</div>