<% 
const realEstates = JSON.parse(include('../../data/real-estates/properties.json') )
%>

<%- include('../../components/header/component.ejs') %>

<main class="site-wrapper" id="page-mobile-empreendimentos-map">

    <%- include('../../components/real-estate-filters/component.ejs') %>

    <div class="page-inner">
        <div class="left px-20">
            <%- include('../../components/page-title/component.ejs', { args: { title: 'Empreendimentos Residenciais', description: 'Conheça os empreendimentos Residenciais da Melnick' } } ); -%>

            <div class="real-estates">
                <% realEstates.forEach(function(realEstate) { %>
                <%- include('../../components/entry-real-estate-list/component.ejs', {realEstate}) -%>
                <% }); %>
            </div>

            <div class="d-flex justify-content-center see-more">
                <%- 
                include( '../../components/button-default/component.ejs', { args: {
                    label: 'Ver mais',
                } } );
                %>
            </div>
        </div>
        <div class="right map">
            <%- include( '../../components/list-map-default/component.ejs' ); %>
        </div>
    </div>
</main>

<%- //include( '../../components/whatsapp-balloon/component.ejs' ); %>

<%- //include('../../components/footer/component.ejs') %>